%h1 What Does Mitt Mean?
#breadcrumb
	«
	= link_to 'Play Now!', root_path

#answers
	%p Some Recent Answers

	%ul
		- for answer in @answers
			%li= answer.body

#word_cloud

:javascript
	$(document).ready(function() { $.getScript('#{word_cloud_answers_path}'); });
